.menubar {
    background-color: #da817a;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    width: 100%;
    z-index: 1;
}

/* .toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
} */

.menubar .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menubar .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar .hamburger > div:before,
.menubar .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: inherit;
}

.menubar .hamburger > div:after {
    top: 10px;
}


.menu li {
    padding: 5px;
}

.menu a {
    text-decoration: none;
}


.menubar .menu {
    position: fixed;
    top: 50px;
    left: 10px;
    width: 100%;
    /* height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* visibility: hidden; */
}


@media (min-width: 768px) {

    .menu {
        display: flex;
        justify-content: center;
        background-color: #da817a;
        width: 100%;
        margin: 0 auto;
        border-top: 5px solid #f3b44b;
    }

    .menu li {
        margin-left: 25px;
        padding: 10px;
    }
    
    .menu li a {
        text-decoration: none;
        color: #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2rem;
    }

   
}